body .inputField {
    width: 30% ;
    margin-right: 6px;

}

body .submitButton {
    width: 10% ;
}

body .labelLeft {
    padding: 19px;
    border: #2a7b6f 1px solid;
    border-radius: 3px;
    margin-right: 4px;
}

body .header {

    height: 70px;
    background-color: #2a7b6f ;
    align-self: center;
    text-align: center;
    margin-bottom: 20px;
}