---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
    <Header/>
    <div>ITS ME!</div>
</Layout>

<!-- TODO: Fill with content, via .env -->