---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import LinkButton from "../components/LinkButton";
---

<Layout>
    <Header/>
    <div>ITS ME!</div>
    <LinkButton target="/" text="Back"/>
</Layout>

<!-- TODO: Fill with content, via .env -->