<header>
    <div class="header">
        <p>Welcome to my Page!</p>
        <form action="/src/pages/about">
            <input class="submitButtonLink" type="submit" value="About Me" />
        </form>
    </div>
</header>

<!--TODO: Button in eigene Komponente. Evtl ein Link? Check Accessibility Guidelines!-->