<header>
    <div class="header">
        <p>Welcome to my Page!</p>
        <button class="about">About Me</button>
    </div>
</header>


<script>
    const button = document.querySelector('button.about');

    button?.addEventListener('click', () => {

    });
</script>